@import "custom";
//@import "~bootstrap/scss/bootstrap";

body {
	background: #efefef;
	padding-top: 54px;

	.top-buffer{
		margin-top:1px; 
		background: #AFE;
		padding: 10px 0px;
	}

	.trash-icon {
		cursor: pointer;
	}

	.hidden{
		display: none;
	}

	.my-4{
		display: inline-block;
	}

	.form-new{
		box-shadow: 0px 1px 1px 1px #9e9595;
	}

	.news-container{
		margin-top: 10px;
		background: #fff;
		box-shadow: 1px 1px 2px 2px #bdacae;

		.news-card{
			margin-bottom: 10px;
			>div{
				margin-bottom: 15px;
			}
			.news-title{
				display: inline-block;
			}
			.news-body{
				min-height: 50px;
				.name-holder{
					height: 45px;
					width: 45px;
					line-height: 45px;
					text-align: center;
					border-radius: 50%;
					background: #000;
					color: #fff;
				}
			}
		}
	}
}
  
  @media (min-width: 992px) {
	body {
	  padding-top: 56px;
	}
  }